* {
  margin: 0;
  padding: 0;
  font-family: arial;
  color: #fff;
}
body {
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  display: grid;
  justify-content: center;
  align-content: center;
}
::-webkit-input-placeholder {
  color: #eee;
}
.wrapper {
  position: relative;
  width: 800px;
  height: 65vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 3px solid #76bdff;
  box-shadow: 0 0 50px 0 #099dff;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 17px;
  color:#000000;
}
.inp {
  padding-bottom: 10px;
  border-bottom: 2px solid #eee;
}
.input {
  border: none;
  outline: none;
  background: none;
  width: 260px;
  margin-top: 40px;
  padding-right: 10px;
  font-size: 17px;
  color: rgb(0, 4, 255);
}
.submit {
  border: none;
  outline: none;
  width: 288px;
  margin-top: 25px;
  padding: 10px 0;
  font-size: 20px;
  border-radius: 40px;
  letter-spacing: 1px;
  cursor: pointer;
  color: #ffffff;
  background: linear-gradient(45deg,  rgb(0, 4, 255), #76bdff);
}
.footer {
  margin-top: 30px;
  letter-spacing: 0.5px;
  font-size: 14px;
  color: #000000;
}
.link {
  color: #76bdff;
  text-decoration: none;
}
.banner {
  position: absolute;
  top: 0;
  right: 0;
  width: 450px;
  height: 300px;
  background: linear-gradient(to right, rgb(0, 4, 255), #76bdff);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%);
  padding-right: 70px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.wel_text {
  font-size: 40px;
  margin-top: -50px;
  line-height: 50px;
}
.para {
  margin-top: 10px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
}

.fondonavegacion{
  color: rgb(255, 255, 255);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
}